{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Arem Yazılım</title>
{% endblock title %}

{% block content %}
<main class="main">        
    <div class="animation_text ps-2">
        <h2>
            <span class="typewrite" data-period="2000" data-words='[ "Kurumsal Web Sitesi Tasarımları İle Şirketinizi Dijital Dünya İle Tanıştırıyoruz. ", " SEO Hizmeti İle Kurumsal Sitenizi Daha Fazla Ulaşılabilir Hale Getiriyoruz.", "Kurumsal Mail Adresi İle Şirketinize Daha Profesyonel Bir İmaj Sağlıyarak Müşterilerin Güvenini Kazanıyoruz. ", " 10 Yılı Aşkın Sektör Tecrübemiz Sayesinde Her Geçen Gün Başarılarımızı Daha İleri Seviyelere Taşımaya Devam Ediyoruz."]'></span>     </h2>                
    </div>
    <div class="animation_btn ps-2">
        <div data-aos="fade-left"  
            data-aos-delay="2800" class="text-white ps-2 mt-3">
            
        </div>  
        <div data-aos="fade-left"  
            data-aos-delay="2000">
            <a class="text-decoration-none text-white fs-5" >Fırsatları Kaçırmayın Kurumsal Web Sitenizi Bize Yaptırın</a>
        </div>
        <div data-aos="fade-left" class="mt-2"  
            data-aos-delay="3000">
            <button class="btn getInfo"><a class="text-decoration-none text-white" href="tel:05315400826">Daha Fazla Bilgi İçin Tıklayınız...</a></button>
        </div>
    </div>
    <!-- Ana ekran sağ taraf resim -->
    <div class="logo">
        <img src="{% static 'img/pngwing.com.png' %}" width="400px" alt="">
    </div>    
</main> 

<section id="website" class="container mt-5">
    
    <div class="text-center">
        <h1 class="btn btn-secondary">Kurumsal Web Sitesi Hizmetleri</h1>
    </div>  
    
    <div class="website_price">
        <h5 class="btn btn-danger"><a href="tel:05315400826" class="text-decoration-none text-white">2800 TL'den Başlayan Fiyatlarla...</a></h5>
    </div>

    <div class="kurumsal-mail">
        <h5 class="btn btn-success">Kurumsal Mail Hediyeli</h5>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="{% static 'img/background.jpg' %}" class="img-fluid rounded-start mt-1" alt="...">            
            <img src="{% static 'img/website.jpg' %}" class="img-fluid rounded-start mt-1" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Kurumsal Web Sitesi Hizmetleri </h5>
              <p class="card-text"><b>Kurumsal Web Siteniz İle Firmanızı İnternet Dünyasına Taşıyarak Daha Fazla Müşteriye Ulaşmanızı Sağlıyoruz</b></p>
              <p><b>3 Adet Kurumsal Mail Hediyesiyle (info@sirket.com.tr)</b></p>
              
              <div>
                <ul>
                    <li>
                        <p>Kurumsal Web Sitesi Öncesi Yol Haritası Çizimi (Tema Seçimi v.b.)</p>
                        <p>Tarafımıza İletilmesi Gereken Bİlgiler (Mail Yoluyla)</p>
                        <ul>
                            <li>Firmanız İletişim Bilgileri</li>
                            <li>Firma Logosu (PNG Formatında , İstenildiği Takdirde Logo Tasarımı)</li>
                            <li>Firmanız Misyon ve Vizyon Metin İçerikleri</li>
                            <li>Firmanız Tarafında Sunulan Hizmetler Listesi</li>
                            <li>Firmanız Hakkımızda Yazısı</li>
                            <li>Web Sitenizde Bulunmasını İstedğiniz Dosya ve Görseller</li>
                        </ul>
                    </li>
                  </ul>
              </div>     
              <hr>
              <div>
                <ul>
                    <li>
                        <p>İkinci Aşamada Taslak Kontrolü Yapıyoruz.</p>
                        <p>Hazırlamış olduğumuz web sitenizi yayınlanmadan önce son kontrolleri yapıyoruz. Eklenmesini veya değiştirilmesini istediğiniz yerleri revize ediyoruz.</p>                            
                    </li>
                  </ul>
              </div>
              <hr>
              <div>
                <ul>
                    <li>
                        <p>Son Olarak Firmanıza Uygun Domain Adresi Seçimi Yaparak Web Sitemizi Yayına Alıyoruz.</p>
                        <p>Domain ve Hosting Hizmetleri Fiyata Dahil Değildir.2023 Yılı İçerisind Ortalama Domain ve Hosting İşlemleri 1000-1500 TL Civarındadır.(Yıllık Olarak Yenilenmesi Gerekir.)  <p>                            
                    </li>
                    <ul>
                        <li>Domain Nedir ?
                            <p>Domain bir web sitesinin adresini belirleyen, internette benzersiz bir kimlik numarasıdır. Örneğin, Google'ın alan adı "google.com" dur. Bir domain adı, bir ana bilgisayarda veya sunucuda barındırılan bir web sitesinin adıdır ve bu nedenle internet kullanıcıları tarafından tarayıcıda girilebilir.</p>
                        </li>
                        <li>Hosting Nedir ?
                            <p>Hosting bir web sitesinin internet üzerinde yayınlanması için gerekli olan hizmetleri sağlayan bir hizmettir. Web sitesi dosyalarının saklanması, sunuculara yüklenmesi ve internete bağlanması için gerekli altyapıyı sağlar. Hosting hizmetleri, genellikle bir sunucu üzerinde barındırılan bir dizi web sitesi için paylaşılan veya özel olarak kiralanmış sunucular olarak sunulur.</p>
                        </li>
                    </ul>
                  </ul>
              </div>             
              
             
            </div>
          </div>
        </div>
      </div>
</section>

<section id="seo" class="container mt-5">
    
    <div class="text-center">
        <h1 class="btn btn-secondary">S.E.O Hizmetleri</h1>
    </div> 
       

    <div class="card mb-3">
        <div class="row g-0">
          
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">S.E.O Hizmetleri </h5>
              <p class="card-text"><b>Kurumsal Web Sitenize S.E.O(Arama Motoru Optimizasyonu) Yapılarak Google'da Üst Sıralara Taşıyoruz.</b></p>
              
              
              <div>
                <ul>
                    <li>
                        SEO (Arama Motoru Optimizasyonu) hizmeti, bir web sitesinin arama motorları tarafından daha iyi anlaşılmasını ve daha yüksek sıralarda görünmesini sağlamak için yapılan çalışmalardır. Bu çalışmalar, web sitesinin içeriği, tasarımı ve kodlaması gibi faktörleri optimize etmeyi ve arama motorları algoritmaları tarafından daha fazla dikkate alınmasını sağlamayı amaçlar.
                    </li>
                    <li>
                        SEO hizmeti genellikle anahtar kelime araştırması, meta etiketlerinin optimize edilmesi, web sitesi içi ve dışı bağlantıların yönetimi, site haritası oluşturma, içerik stratejisi geliştirme ve analiz gibi işlemleri içerir.
                    </li>
                    <li>
                        SEO hizmetleri, bir web sitesinin organik arama sonuçlarında daha üst sıralarda yer almasını sağlayarak, web sitesinin trafik ve görünürlüğünü artırır. Bu nedenle, bir web sitesi sahibi olarak SEO hizmetlerinden yararlanarak, hedef kitlenizin web sitenizi bulması için daha iyi bir şans elde edebilirsiniz.
                    </li>
                  </ul>
              </div>   
            </div>
          </div>

          <div class="col-md-5">
            <img src="{% static 'img/seo2.jpg' %}" class="img-fluid rounded-start mt-1 ps-1" alt="...">           
          </div>

        </div>
      </div>
</section>
{% endblock content %}


